#flash {
  font-family: Verdana, Helvetica, Courier New;
  font-size: 14px;
/*  display:none;*/
}

.error, .alert, .notice, .info, .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #DDD;
}

.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
  
  -moz-box-shadow:inset 0 0 10px #264409;
  -webkit-box-shadow:inset 0 0 10px #264409;
  box-shadow:inset 0 0 10px #264409;
}

.notice, .alert {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
  
  -moz-box-shadow:inset 0 0 10px #514721;
  -webkit-box-shadow:inset 0 0 10px #514721;
  box-shadow:inset 0 0 10px #514721;
}

.info {
  background: #D5EDF8;
  color: #205791;
  border-color: #92CAE4;
  
  -moz-box-shadow:inset 0 0 10px #205791;
  -webkit-box-shadow:inset 0 0 10px #205791;
  box-shadow:inset 0 0 10px #205791;
}

.error {
  background: #FBE3E4;
  color: #8A1F11;
  border-color: #FBC2C4;
  
  -moz-box-shadow:inset 0 0 10px #8A1F11;
  -webkit-box-shadow:inset 0 0 10px #8A1F11;
  box-shadow:inset 0 0 10px #8A1F11;
}